fqdn;model;device;mountpoint;controller;size;serial;wwn
{% for item in rez.blockdevices %}
{% if item.type == "disk" %}
{{ ansible_fqdn }};{{ item.model }};{{ item.kname }};{{ item.mountpoint }};{{ item.subsystems }};{{ item.size }};{{ item.serial}};{{ item.wwn }}
{% endif %}
{% endfor %}